<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shool.mapper.RewardsPunishmentsMapper">

    <resultMap id="BaseResultMap" type="com.shool.domain.RewardsPunishments">
            <id property="rpId" column="rp_id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="eventType" column="event_type" jdbcType="OTHER"/>
            <result property="eventDescription" column="event_description" jdbcType="VARCHAR"/>
            <result property="eventDate" column="event_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        rp_id,student_id,event_type,
        event_description,event_date
    </sql>
</mapper>
