<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shool.mapper.ScoresMapper">

    <resultMap id="BaseResultMap" type="com.shool.domain.Scores">
            <id property="scoreId" column="score_id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        score_id,student_id,course_id,
        score
    </sql>
</mapper>
